<div class="contenedor">
  <button mat-raised-button color="primary" (click)="iniciar()" *ngIf="newGame == false">Iniciar</button>
  <div class="game" *ngIf="newGame">
    <app-casilla 
      *ngFor="let item of casillas; let i = index"
      [value]="item"
      (click)="movimiento(i)"
      class="casilla"
    >
    </app-casilla>
  </div>
</div>