.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mat-raised-button{
    width: 150px;
    height: 50px;
}
.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.casilla{
    width: 100px;
    height: 100px;
}