<button mat-stroked-button *ngIf="!value">{{ value }}</button>
<button mat-stroked-button *ngIf="value == 'X'">{{ value }}</button>
<button mat-stroked-button *ngIf="value == 'O'">{{ value }}</button>