<div class="">
  <h1>
    El ganador es el jugador {{data.ganador}}
  </h1>
  <button mat-button mat-dialog-close (click)="iniciar()">Jugar de nuevo</button>
  <button mat-button mat-dialog-close (click)="terminar()">Terminar</button>
</div>
